doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='img/favicon.png' type='image/x-icon')
  meta(name='author' content='Michel_israel and Ivan')
  meta(name='description' content='Cuidamos a tus mascotas como si fueran nuestras')
  link(rel='stylesheet' href='css/style.css')
  title Hotel-mascotas
header.header_error
  h1 ERROR 404
  p
    | Lo sentimos la p&aacute;gina que busca no se encuentra disponible o ha sido reubicada en otra direcci&oacute;n
main.main_error
  .error_img
    img(src='img/error_2.webp.webp' alt='Error--404')
  .volver
    a(href='/')
      img(src='img/volver.webp' alt='Volver al inicio')
footer
