head
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous')
    link(rel='stylesheet' href='css/style.css')

main.galeria
  .presentacion
    #carouselExampleIndicators.carousel.slide
      .carousel-indicators
        button.active(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='1' aria-label='Slide 2')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='2' aria-label='Slide 3')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='3' aria-label='Slide 4')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='4' aria-label='Slide 5')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='5' aria-label='Slide 6')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='6' aria-label='Slide 7')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='7' aria-label='Slide 8')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='8' aria-label='Slide 9')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='9' aria-label='Slide 10')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='10' aria-label='Slide 11')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='11' aria-label='Slide 12')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='12' aria-label='Slide 13')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='13' aria-label='Slide 14')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='14' aria-label='Slide 15')
        button(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='15' aria-label='Slide 16')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100.custom-border(src='img/galeria/galeria_01.webp' alt='galeria_1')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_02.webp' alt='galeria_2')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_03.webp' alt='galeria_3')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_04.webp' alt='galeria_4')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_05.webp' alt='galeria_5')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_06.webp' alt='galeria_6')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_07.webp' alt='galeria_7')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_08.webp' alt='galeria_8')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_09.webp' alt='galeria_9')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_10.webp' alt='galeria_10')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_11.webp' alt='galeria_11')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_12.webp' alt='galeria_12')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_13.webp' alt='galeria_13')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_14.webp' alt='galeria_14')
        .carousel-item
          img.d-block.w-100.custom-border(src='img/galeria/galeria_15.webp' alt='galeria_15')
      button.carousel-control-prev(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden Previous
      button.carousel-control-next(type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.visually-hidden Next

script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz' crossorigin='anonymous')
