doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/img/favicon.png" type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
    title= titulo
  body
    header
      .header_principal
        img(src="/img/header.webp" alt="una persona y su mascotas en la playa")
      .titulo
        h1 Petit Hotel
        p Donde cada mascota se siente en casa
      nav
        ol
          li: a(href="/" class="nav-link") Home
          li: a(href="/nosotros" class="nav-link") Nosotros
          //- li: a(href="/servicios" class="nav-link") Servicios
          li: a(href="/galeria" class="nav-link") Galería
          li: a(href="/login" class="nav-link") Login

    main#main-content
      if seccion === 'index'
        include home.pug
      else if seccion === 'nosotros'
        include nosotros.pug
      //- else if seccion === 'servicios'
      //-   include servicios.pug
      else if seccion === 'galeria'
        include galeria.pug
      else if seccion === 'login'
        include login.pug
      else
        p Contenido por defecto del sitio web.

    footer
      .nombre_footer
        p 
          a.mi_a(href='index.pug') www.HotelMascotas.com
      nav
        .servicios_general
          .servicios_01
            ol
              li: a(href="#") Contacto
              li: a(href="#") Política de Privacidad
              li: a(href="#") Quien Somos
          .servicios_03
            ol
              li: a(href="https://www.facebook.com" target="_blank")
                img(src="/img/icons/facebook.webp" alt="facebook")
              li: a(href="https://www.instagram.com/" target="_blank")
                img(src="/img/icons/instagram.webp" alt="instagram")
              li: a(href="https://wa.me/684012113" target="_blank")
                img(src="/img/icons/whatsapp.webp" alt="whatsapp")
          .servicios_02
            ol
              li: a(href="#") Servicios
              li: a(href="#") Boletín de noticias
              li: a(href="#") Créditos

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")
    script(src="/js/script.js")
