head
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous')
    link(rel='stylesheet' href='css/style.css')

main.main_maqueta
  .mural_1
    img(src='img/mural_01.webp' alt='mascota en el hotel')
    .capa_texto_1
      p
        | El hotel de mascotas destaca por su ambiente acogedor y bien dise&ntilde;ado. Las taquillas de colores
        | pastel permiten una organizaci&oacute;n eficiente y a&ntilde;aden un toque alegre. El sof&aacute; capiton&eacute; con cojines
        | ofrece comodidad tanto a las mascotas como a sus due&ntilde;os. La decoraci&oacute;n moderna y juguetona asegura
        | que cada mascota se sienta como en casa. La atenci&oacute;n al detalle y la higiene se refleja en cada
        | elemento del entorno. &#x1F43E;
  .mural_2
    img(src='img/mural_02.webp' alt='mascotas paseando')
    .capa_texto_2
      p
        | El nuevo hotel de mascotas se destaca por su ambiente lujoso y acogedor, ideal para el confort y
        | bienestar tanto de las mascotas como de sus due&ntilde;os. Las instalaciones cuentan con elegantes
        | decoraciones y espacios amplios, proporcionando un entorno seguro y controlado. Adem&aacute;s, el hotel
        | mantiene un alto est&aacute;ndar de higiene, asegurando un entorno limpio y saludable. La atenci&oacute;n
        | personalizada y los servicios integrales ofrecen una experiencia exclusiva y de alta calidad.
  .mural_3
    img(src='img/mural_03.webp' alt='mascotas en la piscina')
    .capa_texto_3
      p
        | El nuevo hotel de mascotas destaca por su incre&iacute;ble &aacute;rea de recreaci&oacute;n, equipada con una piscina
        | segura y cercada, perfecta para que los perros se diviertan. Las &aacute;reas de c&eacute;sped artificial
        | proporcionan un espacio c&oacute;modo y seguro para que las mascotas corran y jueguen libremente. El dise&ntilde;o
        | asegura un ambiente controlado donde los animales pueden socializar y ejercitarse. La atenci&oacute;n al
        | bienestar y felicidad de las mascotas es evidente en cada detalle

    



script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz' crossorigin='anonymous')
