@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
    /* background-color: rgb(0, 0, 0); */
    margin: 10px;
}


header {

    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    /* border: 1px solid red; */


    .header_principal {

        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            /* padding: 100px; */
            width: 100%;
            height: auto;
            /* border: 1px solid black; */
        }
    }

    .titulo {
        position: absolute;
        top: 10%;
        right: 10%;
        font-size: 30px;
        font-weight: bold;
        color: rgb(252, 252, 252);
        text-align: center;
        padding: 0;
        width: auto;
        height: auto;
        /*  border: 1px solid rgb(26, 255, 0); */

        h1 {
            margin-top: 10px;
            font-size: 50px;
            font-size: 80px;
            font-family: 'Sour Gummy', cursive;
            text-shadow: 2px 2px 5px rgb(0, 0, 0);
        }

        p {
            /*  margin-top: -60px; */
            font-size: 18px;
            font-family: 'Sour Gummy', cursive;
        }
    }

    nav {

        background-color: #333333;
        overflow: hidden;
        /* border: 1px blue solid; */

        a:hover {
            /*  background-color: #99686894; */
            border: 1px solid rgba(184, 122, 122, 0.808);

        }

        ol {
            display: flex;
            justify-content: center;
            gap: 50px;
            margin: 0;
            padding: 0;

            li {
                color: rgb(255, 255, 255);
                list-style-type: none;
                font-size: 17px;
                font-weight: bold;
                padding: 10px;

                a {
                    color: rgb(255, 255, 255);
                    /*  text-align: center; */
                    /*   padding: 14px 20px; */
                    text-decoration: none;
                    border-radius: 3px;
                    /* border: 1px solid red; */
                    transition: background-color 0.3s ease;

                }





            }
        }



    }

}

.main_maqueta {
    border: 1px solid red;
    width: 100%;
    height: 500px;
    background-color: rgba(167, 172, 230, 0.203);
}


main {



    margin-top: 10px;
    width: 100%;
    height: auto;
    /*  border: 1px solid black; */

    .control_1 {
        position: relative;
        width: 100%;
        height: 700px;
        /*   margin-top: 30px; */
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        gap: 60px;
        /* align-items: center; */
        background-color: rgba(167, 172, 230, 0.203);
        /* border: 1px solid red; */

        .texto_control_1 {

            position: absolute;
            /*  border: 1px solid red; */
            width: 100%;
            height: auto;
            bottom: 1px;
            color: rgb(22, 22, 26);
            font-size: 17px;
            font-weight: bold;
            font-family: 'Sour Gummy', cursive;

        }
    }



    .control_2 {
        position: relative;
        width: 100%;
        height: 650px;
        /*   margin-top: 30px; */
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        gap: 60px;
        /* align-items: center; */
        background-color: rgba(167, 172, 230, 0.203);
        /* border: 1px solid red; */

        .texto_contol_2 {
            position: absolute;
            /*  border: 1px solid red; */
            width: 100%;
            height: auto;
            bottom: 1px;
            color: rgb(22, 22, 26);
            font-size: 17px;
            font-weight: bold;
            font-family: 'Sour Gummy', cursive;

        }

    }



}



/*  estilos de error */


.header_error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        color: red;
    }

    p {
        color: black;
        text-align: center;
        font-size: 20px;
    }

}

.main_error {
    .error_img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 500px;
            height: auto;

        }

    }

    .volver {
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 150px;
            height: auto;

        }
    }
}



footer {
    margin-top: 10px;
    width: 100%;
    height: auto;
    /*  border: 1px solid black; */


    .nombre_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        /* border: 1px solid red; */


        p {
            margin: 0;
            font-size: 15px;
            color: black;
            font-family: 'Sour Gummy', cursive;
            /*   border: 1px solid red; */
        }

        span {
            font-size: 20px;
            color: blue;
        }
    }

    nav {
        padding: 0px;


        .servicios_general {
            display: flex;
            justify-content: center;
            gap: 50px;
            align-items: center;

            /*    .servicios_01 {
                display: flex;
                flex-direction: column;
                align-items: center;

            } */

            /*   .servicios_03 {
                display: flex;
                justify-content: space-around;
                align-items: center;
            } */

            /*  .servicios_02 {
                display: flex;
                justify-content: space-around;
                align-items: center;

            } */
        }

        ol {
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style-type: none;
            padding: 0;


            li {

                a {
                    text-decoration: none;
                    font-family: 'Sour Gummy', cursive;
                }

                img {
                    width: 25px;
                    height: 25px;
                }

            }




        }
    }



}